%footer
  %section#footer_2
    .container
      .row
        .col-md-6
          %ul#footer-nav
            %li
              Copyright © #{Time.new.year}
            %li
              %a{:href => "#"}>
              Boxspringspot.nl
        .col-md-6{:style => "text-align:center"}
          %ul.social-bookmarks.clearfix
            %li.facebook
              %a{:href => "#"} Facebook
            %li.googleplus
              %a{:href => "#"} Google +
            %li.twitter
              %a{:href => "#"} Twitter