<footer>
  <section id="footer_2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul id="footer-nav">
            <li>Copyright © <%= Time.new.year %> </li>
            <li><a href="#"></a>Boxspringspot.nl</li>
          </ul>
        </div>
        <div class="col-md-6" style="text-align:center">
          <ul class="social-bookmarks clearfix">
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="googleplus"><a href="#">Google +</a></li>
            <li class="twitter"><a href="#">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>