%footer.footer-bs
  .row
    .col-md-3.footer-brand.animated.fadeInLeft
      = link_to root_url do
        = image_tag('LogoHuisstijlWit.svg', width: '300px', height: '200px')
    .col-md-4.footer-nav.animated.fadeInUp
      .col-md-6
        %ul.pages
          %li
            %a{:href => root_url} Home
          %li
            %a{:href => new_mattress_url} EENPERSOONSMATRAS
          %li
            %a{:href => root_url} TWEEPERSOONSMATRAS
          %li
            %a{:href => veelgestelde_vragen_url} FAQ'S
          %li
            %a{:href => over_ons_url} OVER ONS
          %li
            %a{:href => contact_url} CONTACT
      .col-md-6
        %ul.list
          %li
            %a{:href => algemene_voorwaarden_simpel_url} Algemene voorwaarden
          %li
            %a{:href => garanties_url} Garanties
          %li
            %a{:href => retourneren_url} Retourneren
          %li
            %a{:href => privacy_beleid_url} Privacybeleid
          %li
            %a{:href => cookie_beleid_url} Cookiebeleid
    .col-md-2.footer-social.animated.fadeInDown
      %h4 Volg ons
      %ul
        %li
          %a{href: "https://www.facebook.com/tenzenslapen", target: "_blank"} Facebook
    .col-md-3.footer-ns.animated.fadeInRight
      = image_tag "thuiswinkelwaarborg.png", alt: 'thuiswinkelwaarborg', height: '150px', width: '150px'
