%section#top-area
  %header
    .container
      .row
        #logo.col-md-4.col-xs-3
          = link_to root_url do
            = image_tag('LogoHuisstijlWit.svg', width: '150px', height: '50px')
        .btn-responsive-menu
          %span.bar
          %span.bar
          %span.bar
        %nav#top-nav.col-md-8.col-xs-9
          %ul
            %li
              %a{href: root_url}
            %li
              %a{href: new_mattress_url} Eenpersoonsmatras
            %li
              %a{href: root_url} Tweepersoonsmatras
            %li
              %a{href: over_ons_url} Over ons
            %li
              %a{href: veelgestelde_vragen_url} FAQ's
