%section#top-area
  %header
    .container
      .row
        #logo.col-md-4.col-xs-3
          %a{:href => "/"} Boxspring samenstellen
        .btn-responsive-menu
          %span.bar
          %span.bar
          %span.bar
        %nav#top-nav.col-md-8.col-xs-9
          %ul
            %li
              %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Over samenstellen
            %li
              %a#purchase{:href => "#"} Ga naar onze webshop
        / End Nav
      / End row
    / End container
  / End header

  .container
    .row
      .col-md-12.main-title
        -# %h1 Boxspring samenstellen
        -# %p Laat ons eigen ontwikkelde algoritme jou perfecte bed en matras kiezen

