%section#top-area
  %header
    .container
      .row
        #logo.col-md-4.col-xs-3
          = link_to root_url do
            = image_tag('LogoHuisstijlWit.svg', width: '150px', height: '50px')
        .btn-responsive-menu
          %span.bar
          %span.bar
          %span.bar
        %nav#top-nav.col-md-8.col-xs-9
          %ul
            %li
              %a{href: root_url}
            %li
              %a{href: bestellen_url} BESTELLEN
            %li
              %a{href: over_tenzen_url} OVER TENZEN
            %li
              %a{href: vragen_url} FAQ's
