%section#top-area
  %header
    .container
      .row
        #logo.col-md-4.col-xs-3
          %a{:href => "/"} Tenzen
        .btn-responsive-menu
          %span.bar
          %span.bar
          %span.bar
        %nav#top-nav.col-md-8.col-xs-9
          %ul
            %li
              %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Over ons
            %li
              %a{href: "#"} Veelgestelde vragen
            %li
              %a#purchase{:href => "#"} Contact
