%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Actievoorwaarden
            %ul
              %li
                .head-title-v4 Actievoorwaarden
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          %ul.inline-list
                            %li - De actie geldt voor de periode 20 januari 2018 tot en met 3 februari 2018
                            %li - Om mee te doen dien je 18 jaar of ouder te zijn.
                            %li - Je dient vóór 4 februari 2018 te hebben voldaan aan de actievoorwaarden. Personen die na 3 februari 23:59 het bericht leuk hebben gevonden of gedeeld zijn uitgesloten van deelname.
                            %br
                            %li - Om kans te maken dien je:
                            %li
                              %strong{style: 'margin-left: 20px'} 1. De facebookpagina van Tenzen leuk te vinden.
                            %li
                              %strong{style: 'margin-left: 20px'} 2. De actiepost op de facebookpagina van Tenzen leuk vinden.
                            %li
                              %strong{style: 'margin-left: 20px'} 3. De actiepost op de facebookpagina van Tenzen te delen.
                            %br
                            %li - De winnaar wordt via Facebook bekend gemaakt onder vermelding van zijn/haar naam.
                            %li - De actie is alleen bedoeld voor consumenten. Bedrijven en instanties zijn uitgesloten van deelname.
                            %li - De prijs is niet inwisselbaar voor een ander cadeau of contanten.
                            %li - In geval van het vermoeden van fraude heeft Tenzen het recht de prijs niet te leveren.
                            %li - Als je gebruik maakt van de “Gratis Matras Facebookactie” stem je er mee in dat je contactgegevens (naam, adresgegevens en e-mailadres) worden gedeeld met de bezorgdienst
                            %li - De prijs betreft één (1) Tenzen Matras in de formaat 80x190, 90x190, 100x190, 80x200, 90x200 of 100x200

