<section class="container" id="main">
  <!-- Start Survey container -->
  <div id="survey_container">
    <div id="middle-wizard">
      <div class="step">
        <div class="row">
          <h2 class="col-md-12 text-center">Kies:</h2><br/>
          <div class="col-md-5 ">
            <div class="panel panel-primary blur-object">
              <div class="panel-heading">
                <h2 class="panel-title">Eenpersoons boxspring</h2>
              </div>
              <div class="panel-body">
                <img src="/img/eenpersoons-boxspring.png" alt="eenpersoons boxspring samenstellen" title="eenpersoons boxspring samenstellen" class=" center-block" />
              </div>
            </div>
            <div class="alert alert-info">Momenteel is het alleen mogelijk om tweepersoons boxsprings samen te stellen.</div>
          </div><!-- end col-md-5 -->

          <div class="col-md-5 col-md-offset-2">
            <%= link_to(partner_url) do %>
                <div class="panel panel-primary enlarge">
              <div class="panel-heading">
                <h2 class="panel-title">Tweepersoons boxspring</h2>
              </div>
              <div class="panel-body">
                <img src="/img/tweepersoons-boxspring.png" alt="tweepersoons boxspring samenstellen" title="tweepersoons boxspring samenstellen" class="center-block" />
              </div>
            </div>
            <% end %>
          </div><!-- end col-md-5 -->
        </div><!-- end row -->

      </div><!-- end step-->
    </div><!-- end middle-wizard -->
  </div><!-- end Survey container -->
</section><!-- end section main container -->
