%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Cookie policy
            %ul
              %li
                .head-title-v4 Wat is een cookie?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij maken op deze website gebruik van cookies. Een cookie is een eenvoudig klein bestandje
                          dat met pagina’s van deze website [en/of Flash-applicaties] wordt meegestuurd en door je
                          browser op de harde schrijf van je computer wordt opgeslagen. De daarin opgeslagen
                          informatie kan bij een volgend bezoek weer naar onze servers teruggestuurd worden. Zo
                          kunnen wij jou de best mogelijke gebruikerservaring geven.
              %li
                .head-title-v4 Gebruik van permanente cookies
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Met behulp van een permanente cookie kunnen wij jou herkennen bij een nieuw bezoek op
                          onze website. De website kan daardoor speciaal op jouw voorkeuren worden ingesteld. Ook
                          wanneer je toestemming hebt gegeven voor het plaatsen van cookies kunnen wij dit door
                          middel van een cookie onthouden. Hierdoor hoef je niet steeds jouw voorkeuren te herhalen
                          waardoor je dus tijd bespaart en prettiger gebruik van onze website kunt maken.
                          Permanente cookies kan je altijd verwijderen via de instellingen van jouw browser.

              %li
                .head-title-v4 Gebruik van sessie cookies
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Met behulp van een sessie cookie kunnen wij zien welke onderdelen van de website je met
                          dit bezoek hebt bekeken. Wij kunnen onze dienst daardoor zoveel mogelijk aanpassen op
                          het surfgedrag van onze bezoekers.
                        %p
                          Wij nemen met behulp van een sessie cookies bepaalde ingevulde gegevens die noodzakelijk zijn om het samenstellen af te ronden mee naar de volgende stap in het proces om het zo gemakkelijk mogelijk te houden voor jou.
                        %br
                          Deze cookies worden automatisch verwijderd zodra je
                          jouw webbrowser afsluit.

              %li
                .head-title-v4 Gebruik van Google Analytics
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Via onze website wordt een cookie geplaatst van het Amerikaanse bedrijf Google, als deel
                          van de “Analytics”-dienst. Wij gebruiken deze dienst om bijvoorbeeld klikgedrag bij te
                          houden en rapportages te krijgen over hoe bezoekers de website gebruiken. Google kan
                          deze informatie aan derden verschaffen indien Google hiertoe wettelijk wordt verplicht, of
                          voor zover derden de informatie namens Google verwerken. Wij hebben hier geen invloed
                          op. Wij hebben Google wel toegestaan de verkregen analytics informatie te gebruiken voor
                          andere Google diensten die wij gebruiken.
                        %p
                          De informatie die Google verzamelt wordt zo veel mogelijk geanonimiseerd. Wij hebben
                          Google niet verzocht om je IP-adres te maskeren en wij hebben een
                          bewerkersovereenkomst met Google gesloten.
              %li
                .head-title-v4 Verwijdering van cookies
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Meer informatie omtrent het in- en uitschakelen en het verwijderen van cookies kan je
                          vinden in de instructies en/of met behulp van de Help-functie van jouw browser.
