%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Garanties
            %ul
              %li
                .head-title-v4 Wat mag je verwachten?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Je mag verwachten dat het geleverde product de eigenschappen bezitten die voor een normaal gebruik daarvan nodig zijn en waarvan je de aanwezigheid niet hoeft te betwijfelen. Materialen als hout en stof blijven enigszins werken door verschillen in omgevingstemperatuur. Er kan verkleuring optreden door licht. Tenzen kan niet aansprakelijk gesteld worden voor problemen die ontstaan door deze producteigenschappen.
              %li
                .head-title-v4 Klachten en gebreken
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Als het bezorgde product niet aan de hiervoor bedoelde verwachtingen voldoet, gelden de rechten volgens de Nederlandse wetgeving. Daarnaast gelden bij een gegronde klacht de onderstaande aanvullende garantietermijnen en -bepalingen. Deze gelden ook wanneer wij niet aannemelijk kunnen maken dat geconstateerde gebreken het gevolg zijn van niet normaal of onzorgvuldig gebruik van het product. Deze garantietermijnen en -bepalingen gelden niet voor het ontbreken van eigenschappen die nodig zijn voor een met Tenzen overeengekomen bijzonder gebruik, tenzij dit schriftelijk met Tenzen overeengekomen is.
              %li
                .head-title-v4 Bijzonder gebruik
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        In overleg met Tenzen kan bij het sluiten van de overeenkomst schriftelijk vastgelegd worden dat het geleverde product ook eigenschappen moeten bezitten die nodig zijn voor een bepaald bijzonder gebruik. In dat geval mag je ook verwachten dat het geleverde product de eigenschappen bezit die voor dit bijzondere gebruik nodig zijn en gelden de rechten die de Nederlandse wetgeving je biedt ook voor het ontbreken van eigenschappen die nodig zijn voor dit overeengekomen bijzondere gebruik. Tenzen kan in dat geval echter wel bepalen dat de onderstaande aanvullende garantietermijnen en -bepalingen niet gelden voor het ontbreken van deze eigenschappen. Dit wordt schriftelijk vastgelegd bij het sluiten van de overeenkomst.
              %li
                .head-title-v4 Fabrieksgarantie
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          De matrassen en topdekmatrassen van Tenzen vallen in drie garantiecategorieën:
                          %ul
                            %li{style: 'margin-left: 15px;'}
                              %strong 1.
                              De matrassen en topdekmatrassen van de Budget-categorie kennen een garantietermijn van twee jaar.
                            %li{style: 'margin-left: 15px;'}
                              %strong 2.
                              De matrassen en topdekmatrassen van de Comfort-categorie kennen een garantietermijn van vijf jaar. Er wordt voor een periode van twee jaar volledige garantie gehanteerd en voor de drie daaropvolgende jaren afbouwende garantie.
                            %li{style: 'margin-left: 15px;'}
                              %strong 3.
                              Voor de matrassen en topdekmatrassen van de Premium-categorie geldt een garantietermijn van tien jaar. Hierbij krijg je vijf jaar volledige garantie en vijf jaar afbouwende garantie.
                        %p
                          Afbouwende garantie houdt in dat alle kosten van reparatie, vervanging (met inbegrip van vracht- en voorrijkosten) evenredig worden afgebouwd in de jaren dat deze type garantie van toepassing is. Bij een Comfort-categoriematras betekent dit concreet dat 75% van deze kosten voor rekening van Tenzen is in het derde jaar. Tijdens het vierde jaar komt 50% van deze kosten voor rekening van Tenzen en in het vijfde jaar 25%. Na het vijfde jaar zijn alle genoemde kosten voor de koper en is de garantietermijn verlopen. Bij matrassen van de Premium-categorie begint het afbouwen in het zesde jaar en is de garantie in het tiende jaar volledig afgebouwd.
                        %p
                          Onoordeelkundige behandeling van, of onvoldoende zorg voor, de geleverde zaken sluit elke reclame uit en doet garanties vervallen, indien en voor zover de klacht verband houdt met die onoordeelkundige behandeling of onvoldoende zorg.
              %li
                .head-title-v4 Honderd-dagen-niet-goed-geld-teruggarantie
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        Wij vinden het belangrijk dat jij goed slaapt. Je kunt daarom altijd honderd dagen proefslapen op je matras. Mocht het niet zijn wat je had gewenst, dan kun je ons hier binnen honderd dagen na ontvangst van op de hoogte stellen. Wij komen dan kosteloos je matras ophalen. Wanneer wij een product vervangen, gaat de garantietermijn niet opnieuw in, maar geldt de garantietermijn vanaf de datum waarop wij het oorspronkelijke product aan je geleverd hebben. Je kunt
                        = link_to 'hier', retourneren_url
                        meer lezen over onze retourprocedure.
              %li
                .head-title-v4 Repareren en vervangen
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Als je een klacht hebt, wordt eerst beoordeeld of je klacht te verhelpen is, bijvoorbeeld door het product te repareren. Als dit niet mogelijk is, bieden wij je een vervangend product aan. Je hebt bij vervanging recht op eenzelfde of een soortgelijk en gelijkwaardig product. Bij vervanging moeten wij het product opnieuw bestellen, wat een nieuwe levertijd met zich meebrengt. Wanneer wij een product vervangen, gaat de garantietermijn niet opnieuw in, maar geldt de garantietermijn vanaf de datum waarop wij het oorspronkelijke product aan je geleverd hebben.
              %li
                .head-title-v4 Toepasselijkheid
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          De datum waarop je ons van een gebrek in kennis stelt, is bepalend voor de toepassing van bovenstaande garantieregeling. Na het verstrijken van de garantietermijn die op het betreffende product van toepassing is, zijn de kosten van reparatie of vervanging (met inbegrip van vracht- en voorrijkosten) voor rekening van de koper.
