%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Garanties
            %ul
              %li
                .head-title-v4 Garanties
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Je mag verwachten dat de geleverde producten de eigenschappen bezitten die voor een
                          normaal gebruik daarvan nodig zijn en waarvan je de aanwezigheid niet hoeft te betwijfelen.
                          In overleg met Tenzen kan bij het sluiten van de overeenkomst schriftelijk vastgelegd
                          worden dat de geleverde producten ook de eigenschappen moeten bezitten die nodig zijn
                          voor een bepaald bijzonder gebruik ervan. In dat geval mag je ook verwachten dat de
                          geleverde producten de eigenschappen bezitten die voor dit bijzondere gebruik nodig zijn en
                          gelden de wettelijke rechten die de Nederlandse wetgeving je biedt ook voor het ontbreken
                          van eigenschappen die nodig zijn voor dit overeengekomen bijzondere gebruik. Tenzen kan
                          in dat geval echter wel bepalen dat de onderstaande aanvullende garantietermijnen en -
                          bepalingen niet gelden voor het ontbreken van deze eigenschappen. Dit wordt schriftelijk
                          vastgelegd bij het sluiten van de overeenkomst.
                          %br
                          Materialen als hout en stof blijven werken door verschillen in omgevingstemperatuur. Er kan
                          verkleuring optreden door het licht. Tenzen kan niet aansprakelijk gesteld worden voor
                          problemen die ontstaan door deze producteigenschappen.
                          %br
                          Als een bezorgde product niet aan de hiervoor bedoelde verwachtingen voldoet, gelden de
                          wettelijke rechten volgens de Nederlandse wetgeving. Daarnaast gelden bij een gegronde
                          klacht de onderstaande aanvullende garantietermijnen en -bepalingen. Deze gelden ook
                          wanneer wij niet aannemelijk kunnen maken dat geconstateerde gebreken een gevolg zijn
                          van niet normaal of onzorgvuldig gebruik van de producten. Deze garantietermijnen en -
                          bepalingen gelden niet voor het ontbreken van eigenschappen die nodig zijn voor een met
                          Tenzen overeengekomen bijzonder gebruik, tenzij dit schriftelijk met Tenzen
                          overeengekomen is.
              %li
                .head-title-v4 Fabrieksgaranties
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          De matrassen en topdekmatrassen van Tenzen vallen in drie garantiecategorieën. 1) De
                          matrassen en topdekmatrassen van de budget-categorie kennen een garantietermijn van 2
                          jaar. 2) De matrassen en topdekmatrassen van het comfort-categorie kennen een
                          garantietermijn van 5 jaar. Er wordt voor een periode van 2 jaar volledige garantie
                          gehanteerd en voor de 3 daaropvolgende jaren afbouwende garantie. 3) Voor de matrassen
                          en topdekmatrassen van de premium-categorie geldt een garantietermijn van 10 jaar.
                          Hierbij krijg je 5 jaar volledige garantie en 5 jaar afbouwende garantie.
                        %p
                          Afbouwende garantie houdt in dat alle kosten van reparatie, vervanging met inbegrip van
                          vracht- en voorrijkosten evenredig wordt afgebouwd in de jaren dat deze type garantie van
                          toepassing is. Bij een comfort categorie matras betekent dit concreet dat 75% van de kosten
                          voor rekening van Tenzen zijn in het 3 e jaar. Tijdens het vierde jaar komt 50% van deze
                          kosten voor rekening van Tenzen en in het vijfde jaar 25%. Na het vijfde jaar zijn
                          bovengenoemde kosten voor de koper en is de garantietermijn verlopen. Bij matrassen van
                          de premium categorie begint het afbouwen in het 6 e jaar en is de garantie in het 10 e jaar
                          volledig afgebouwd.
                          %br
                          Onoordeelkundige behandeling van, of onvoldoende zorg voor de geleverde zaken sluit elke
                          reclame uit en doet garanties vervallen, indien en voor zover de klacht verband houdt met
                          die onoordeelkundige behandeling of onvoldoende zorg.
              %li
                .head-title-v4 Toepasselijkheid
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        De datum waarop je ons van een gebrek in kennis stelt, is bepalend voor de toepassing van
                        bovenstaande garantieregeling. Na het verstrijken van de garantietermijn die op het
                        betreffende product van toepassing is, zijn de kosten van reparatie of vervanging, met
                        inbegrip van vracht- en voorrijkosten, voor rekening van de koper.
                        %br
                        Als je een klacht hebt, wordt eerst beoordeeld of je klacht te verhelpen is, bijvoorbeeld door
                        het product te repareren. Als dit niet mogelijk is, bieden wij je een vervangend product aan.
                        Je hebt bij vervanging recht op eenzelfde of een soortgelijk en gelijkwaardig product. Bij
                        vervanging moeten wij het product opnieuw bestellen, wat een nieuwe levertijd met zich
                        meebrengt. Wanneer wij een product vervangen, gaat de garantietermijn niet opnieuw in
                        maar geldt de garantietermijn vanaf de datum waarop wij het oorspronkelijke product aan je
                        geleverd hebben.
