%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Over ons
            %ul
              %li
                .head-title-v4 Unieke matrassen
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Jij bent uniek. Net als alle mensen die je kent. Onze lichamen en voorkeuren zijn uniek. En juist
                          omdat we allemaal uniek zijn hebben we ook een unieke oplossing nodig. In een tijd waar steeds
                          meer bedrijven kiezen voor ‘one-size- fits-all’, kiest Tenzen precies het tegenovergestelde. We zijn
                          niet allemaal hetzelfde, dus waarom zou ons matras dat wel zijn. Waarom is het niet mogelijk om
                          een matras te hebben dat perfect bij jou past? Een matras dat ingericht is om jouw lichaam te
                          ondersteunen, een matras dat jouw wensen vervult, een persoonlijke matras dat gemaakt is om jou
                          een betere nachtrust te geven.
                        %p
                          Vreemd toch?
                        %p
                          Je denkt nu vast, daar zal vast een goede reden voor zijn. Wel, die is er niet. Het belang van een
                          goede nachtrust moet je zeker niet onderschatten. Wist je bijvoorbeeld een goed matras – naast het
                          fijnste plek op aarde in de ochtend – ook als oplossing kan dienen voor slapeloosheid, depressie, en
                          andere medische klachten als rugpijn en reuma? Een goede nachtrust zorgt dat je vrolijker,
                          energieker en productiever bent.
              %li
                .head-title-v4 Een persoonlijke oplossing was nodig.
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Daarom hebben wij Tenzen in het leven geroepen. Tenzen levert maatgemaakte matrassen die
                          perfect op jouw lichaam zijn ingericht. Het verbetert je nachtrust zonder dat jij hier uren voor kwijt
                          bent. Sterker nog: perfect slapen kost je nog slechts 2 minuten. Je hoeft er je huis niet eens voor uit
                          te gaan.
              %li
                .head-title-v4 Onze matrassen
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Goede matrassen zijn een beetje onze obsessie. Daarom laten wij al onze matrassen onder strenge
                          kwaliteitscontroles produceren in Duitsland. Hierdoor weet je zeker dat je altijd op een kwaliteit
                          goede, en vooral ook veilige matras slaapt.
              %li
                .head-title-v4 Onze service
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Alles draait om jou!
