%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Over Tenzen
            %ul
              %li
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Jij bent uniek. Net als alle mensen die je kent. Onze lichamen en al onze voorkeuren verschillen immers van persoon tot persoon. En juist omdat we allemaal uniek zijn, hebben we ook allemaal een unieke oplossing voor een betere nachtrust nodig.
              %li
                .head-title-v4 Waarom niet?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Waarom zouden we allemaal moeten slapen op hetzelfde matras? Waarom zou jij geen matras kunnen hebben dat perfect bij jou past, een matras dat ingericht is om jouw lichaam te ondersteunen, een persoonlijk matras dat jouw wensen vervult, een matras dat speciaal gemaakt is om jou een betere nachtrust te geven? Dat is toch vreemd?
              %li
                .head-title-v4 Goede nachtrust
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Je denkt nu: daar zal vast wel een goede reden voor zijn. Wel … die is er niet. Toch is het belang van een goede nachtrust niet te onderschatten. Wist je bijvoorbeeld dat een goed matras – naast het feit dat het de fijnste plek op aarde is – ook als oplossing kan dienen voor slapeloosheid, depressie, en andere medische klachten als chronische vermoeidheid, rugpijn en reuma? Een gezonde nachtrust op een goed matras zorgt er bovendien voor dat je overdag vrolijker, energieker en productiever bent!
              %li
                .head-title-v4 Een persoonlijke oplossing
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          In een tijd waar steeds meer bedrijven kiezen voor one size fits all, kiest Tenzen voor precies het tegenovergestelde. Tenzen is een start-up met een unieke service en
                          = link_to 'garanties', garanties_url
                          die perfect op maat gemaakte matrassen levert voor ieder lichaam. Tenzen verbetert je nachtrust zonder dat jij er uren aan kwijt bent. Bij Tenzen draait alles om jou. ‘Wij slapen pas lekker, als jij lekker slaapt’ is ons motto. Je hoeft alleen maar online te bestellen. Wij zorgen ervoor dat jij daarna nergens naar om hoeft te kijken.
              %li
                .head-title-v4 En hoe we aan de naam zijn gekomen?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Tenzen is een speling op de naam van de veertiende Dalai Lama (Tenzin). Tenzen staat voor de rust en persoonlijke aandacht die dit uitstraalt. Dit is precies wat Tenzen probeert te bereiken: een heerlijk matras dat speciaal voor jou gemaakt is. Een Tenzen-matras zorgt dat jij beter tot rust kunt komen, zowel tijdens je slaap als overdag.
