%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Over ons
            %ul
              %li
                .head-title-v4 Medische klachten
                .li-holder
                  .li-content
                    .text-content
                      .title-smaller Medische klachten
                      .text-v4
                        Je hebt aangegeven last te hebben van medische klachten. Extra drukverlaging is van essentieel belang voor jou. Zo hebben je gewrichten en ledematen minimale tegendruk en geniet je van een gezonde bloedcirculatie omdat er geen knellingen plaatsvinden.
                    .icon-holder-right
                      .icon
                        = image_tag("medisch-matras.png", class: 'img-responsive')
              %li
                .head-title-v4 Comfort matras
                .li-holder
                  .li-content
                    .icon-holder-left
                      .icon
                        = image_tag("comfort.png", class: 'img-responsive')
                    .text-content
                      .title-smaller Comfort
                      .text-v4
                        asdasdasd