%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Privacy Policy
            %ul
              %li
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij respecteren je privacy en verwerken je persoonsgegevens alleen voor het doel waarvoor
                          je ze hebt verstrekt en in overeenstemming met de Wet Bescherming Persoonsgegevens en
                          de Telecommunicatiewet.
                        %strong 1. Bedrijfsgegevens
                        %p
                          Naam bedrijf: Tenzen
                          %br
                          Website: https://www.tenzen.nl
                          %br
                          Inschrijfnummer KvK: 67209815
                          %br
                          BTW-nummer: NL856876951B01
                          %br
                          E-mail: info@tenzen.nl
                        %strong 2. E-mailadres
                        %p
                          Bij het verzamelen van je e-mailadres voor redenen anders dan in het kader van een
                          gesloten overeenkomst, wordt dit niet gebruikt voor het overbrengen van ongevraagde
                          communicatie wanneer je daarvoor geen toestemming hebt verleend.
                        %strong 3. Postadres
                        %p
                          Wij gebruiken je postadres (ontvangen in het kader van een verkoop) voor het verzenden
                          van reclameboodschappen met informatie over producten en diensten. Als je dergelijke
                          reclame niet wenst te ontvangen, kun je contact met ons opnemen via onderstaand e-
                          mailadres.
                        %strong 4. Telefoonnummer
                        %p
                          Wij gebruiken je telefoonnummer niet voor commerciële doeleinden.
                        %strong 5. Overige persoonsgegevens
                        %p
                          Overige persoonsgegevens verwerken wij alleen (door middel van cookies, het uitlezen van
                          randapparatuur of anderszins) indien:
                          1. de gegevensverwerking noodzakelijk is voor:
                          a. de uitvoering van een met jouw gesloten overeenkomst; b. de goede invulling van een
                          publiekrechtelijke taak; c. de behartiging van ons gerechtvaardigd belang (tenzij jouw belang
                          of fundamentele rechten en vrijheden boven dit belang prevaleren), of; 2. je toestemming
                          hebt gegeven voor de verwerking bij het verzamelen hiervan. Wij bewaren jouw gegevens in
                          ieder geval niet langer dan noodzakelijk is voor de verwerking van de doeleinden waarvoor
                          deze zijn verzameld.
                        %strong 6. Bijzondere persoonsgegevens
                        %p
                          De verzamelde informatie wordt alleen intern gebruikt en wordt niet doorgegeven aan andere
                          organisaties.
                        %strong 7. Veiligheid overdragen en ontvangen van gegevens
                        %p
                          a. Als wij jouw gegevens overdragen of ontvangen op onze website, gebruiken wij altijd de
                          coderingstechnologieën die erkend worden als gangbare standaarden binnen de IT-sector;
                          %br
                          b. Als wij bepaalde kritieke informatie ontvangen of overdragen, zoals bijvoorbeeld financiële
                          informatie of gezondheidsinformatie, gebruiken wij een beveiligde server. Je wordt hiervan
                          op de hoogte gesteld via een scherm dat afgebeeld wordt op onze site (pop-up); c. Wij
                          hebben de nodige veiligheidsmaatregelen ingevoerd om het verlies, het onrechtmatig
                          gebruik of de wijziging te voorkomen van informatie die wij ontvangen op onze site;
                        %strong 8. Veiligheid opslag van gegevens Veiligheidscriteria
                        %p
                          a. Op de pagina waar je persoonsgegevens verstrekt wordt gebruik gemaakt van een
                          beveiligde verbinding. b. Wachtwoorden worden altijd gehasht opgeslagen. c. Wij slaan zo
                          min mogelijk gegevens van klanten op en zorgen ervoor dat er in onze database helemaal
                          geen bijzonder gevoelige persoonsgegevens worden bewaard, tenzij dit niet anders kan. d.
                          Het verzenden van persoonsgegevens per e-mail gebeurt via een beveiligde verbinding. e.

                          Alle systemen waarin (gevoelige) persoonsgegevens worden verwerkt, zijn voorzien van
                          antivirussoftware en de laatste beveiligingsgerelateerde patches van alle andere belangrijke
                          software, zoals uitgegeven door de leveranciers van deze software.
                        %strong 9. Toegang tot je gegevens
                        %p
                          Op verzoek doen wij aan bezoekers van onze website mededeling over de
                          persoonsgegevens die van hen worden verwerkt. Eventuele onjuiste gegevens kunnen
                          worden verbeterd, aangevuld of verwijderd. Als je toegang wenst tot deze informatie, of jouw
                          persoonlijke gegevens wenst te verbeteren, gelieve contact met ons op te nemen via
                          onderstaand e-mailadres.
                        %strong 10. Contact
                        %p
                          Als je wenst te reageren op onze Privacy Policy, dan kun je contact opnemen:
                          %br
                          a. Op het volgende e-mailadres: info@tenzen.nl
                        %p
                          Dit privacy beleid kan te allen tijde gewijzigd worden. Deze wijzigingen zullen wij hier
                          publiceren en in voorkomend geval zal je hier per e-mail van op de hoogte worden gesteld.

