%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Retourneren
            %ul
              %li
                .head-title-v4 Hoe retourneer ik mijn matras?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Omdat we op basis van de jou doorgegeven specificaties een matras vervaardigen (maatwerk) kun je
                          geen beroep doen op het wettelijke herroepingsrecht, dit omdat maatwerk producten hiervoor zijn
                          uitgezonderd. Maar omdat wij service belangrijk vinden mag je jouw product altijd binnen 100 dagen
                          na ontvangst terugsturen. Wij willen je meegeven dat bij het aanschaffen van een nieuwe matras het
                          enige tijd kan duren voordat je lichaam hier helemaal gewend aan is. Dit kan tot wel 4 weken duren.
                          Geef je nieuwe matras en je lichaam dus de tijd om te wennen.

              %li
                .head-title-v4 Je retour aanmelden
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Na ontvangt van je goederen heb je 100 dagen om je retour te melden bij ons. Je kunt dit doen door
                          een mail te sturen naar info@tenzen.nl. Vermeld hierbij de volgende informatie:
                        %p
                          %strong Naam:
                          %br
                          %strong Ordernummer:
                          %br
                          %strong Reden van de retour:
                          %br
                          %strong De gewenste oplossing:
                        %p
                          Een retourzending zonder aanmelding kunnen wij helaas niet verwerken.
              %li
                .head-title-v4 Ik heb mijn retour aangemeld, wat nu?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          * Na het aanmelden van je retour ontvang je per e-mail een bevestiging.
                          %br
                          * Onze bezorgdienst zal contact met je opnemen om je matras op te halen.
                          %br
                          * Zodra we je matras hebben ontvangen krijg je van ons een ontvangstbericht. We zullen zo
                          snel mogelijk en in ieder geval binnen 14 dagen aan de slag gaan met de verwerking van
                          jouw retour.

              %li
                .head-title-v4 Wat kan je verwachten van ons?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Zodra we je matras hebben ontvangen krijg je van ons een ontvangstbericht. We zullen dan zo snel
                          mogelijk en in ieder geval binnen 14 dagen aan de slag gaan met de verwerking van jouw retour.

              %li
                .head-title-v4 Je geld terug!
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij zullen het volledige aankoopbedrag zo snel mogelijk maar in ieder geval binnen 14 dagen na
                          verwerking van de retour terugstorten. Wij betalen je terug met hetzelfde betaalmiddel als
                          waarmee je ons betaald hebt, tenzij je uitdrukkelijk met een andere methode hebt
                          ingestemd; in ieder geval zal er voor zulke terugbetalingen geen kosten in rekening worden
                          gebracht.
