!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemalocation" => "http://www.sitemaps.org/schemas/sitemap/0.9\r\n            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"}
  %url
    %loc https://www.tenzen.nl/
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 1.00
  %url
    %loc https://www.tenzen.nl/bestellen
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.80
  %url
    %loc https://www.tenzen.nl/over-tenzen
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.80
  %url
    %loc https://www.tenzen.nl/vragen
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.80
  %url
    %loc https://www.tenzen.nl/contact
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.80
  %url
    %loc https://www.tenzen.nl/garanties
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.80
  %url
    %loc https://www.tenzen.nl/retourneren
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.80
  %url
    %loc https://www.tenzen.nl/algemene-voorwaarden
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.50
  %url
    %loc https://www.tenzen.nl/privacybeleid
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.20
  %url
    %loc https://www.tenzen.nl/cookiebeleid
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.20
  %url
    %loc https://www.tenzen.nl/algemene-voorwaarden-ingewikkeld
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.20
  %url
    %loc https://www.tenzen.nl/privacybeleid.pdf
    %lastmod 2017-12-17T15:55:03+00:00
    %priority 0.20
  %url
    %loc https://www.tenzen.nl/Algemene-Voorwaarden-Thuiswinkel.pdf
    %lastmod 2017-12-17T15:21:16+00:00
    %priority 0.20