%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            !!! XML
            %urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemalocation" => "http://www.sitemaps.org/schemas/sitemap/0.9\r\n              http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"}
              .list-group
                %a.list-group-item.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 1.00
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/bestellen
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.80
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/over-tenzen
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.80
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/vragen
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.80
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/contact
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.80
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/garanties
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.80
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/retourneren
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.80
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/algemene-voorwaarden
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.50
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/privacybeleid
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.20
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/cookiebeleid
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.20
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/algemene-voorwaarden-ingewikkeld
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.20
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/privacybeleid.pdf
                    %lastmod{style: 'float: right'} 2017-12-17T15:55:03+00:00
                    %priority 0.20
                %a.list-group-item{href: 'https://www.tenzen.nl/'}
                  %url
                    %loc{style: 'font-weight: bold'} https://www.tenzen.nl/Algemene-Voorwaarden-Thuiswinkel.pdf
                    %lastmod{style: 'float: right'} 2017-12-17T15:21:16+00:00
                    %priority 0.20
