%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Veelgestelde vragen
            %ul
              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Veiligheid
                .head-title-v4 Zijn de gebruikte materialen in mijn matras veilig?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Al onze matrassen worden onder strenge kwaliteitseisen geproduceerd. Al onze matrassen zijn
                          voorzien van het LGA-certificaat. LGA is een kwaliteitskeurmerk dat aangeeft dat een matras uit
                          veilige componenten bestaat. Een matras wordt getest op duurzaamheid, milieu- en
                          veiligheidsprestatie. Een LGA matras bevat geen schadelijke chemicaliën en is dus beter voor je
                          gezondheid.

              %li
                .head-title-v4 Hoeveel jaar garantie heb ik?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Afhankelijk van je keuze hanteren we verschillende garantieperiodes. Als je kiest voor een budget of
                          comfort matras, dan geniet je van 5 jaar garantie. Hierbij heb je 2 jaar volledige garantie en 3 jaar
                          afbouwende garantie. Als je kiest voor een premiummatras, dan geniet je van 10 jaar garantie.
                          Hierbij heb je 5 jaar volledige garantie en 5 jaar afbouwende garantie.

              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Retour
                .head-title-v4 Wat zijn de retourvoorwaarden?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij vinden het belangrijk dat je heerlijk slaapt op je matras. Mocht dit onverhoopt toch niet zo zijn,
                          dan kan je binnen 100 dagen na ontvangst van je matras een retourmelding maken. Dit kun je via de
                          e-mail doen. Wij zorgen dan dat onze bezorgpartner contact met je opneemt om je matras weer op
                          te halen. Nadat je matras is opgehaald krijg je binnen enkele dagen het volledige aankoopbedrag
                          terug.

              %li
                .head-title-v4 Wat doen jullie met teruggestuurde matrassen?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij doen ons uiterste best om matrassen die niet gebruikt zijn ofwel heel kort gebruikt zijn én niet vies
                          zijn te doneren aan het goede doel. Wanneer wij dit niet kunnen doen vanwege de staat van het
                          matras, dan vragen we onze partner om ze te recyclen of op een verantwoorde manier te
                          vernietigen. Wij verkopen nooit tweedehands matrassen.

              %li
                .head-title-v4 Wanneer krijg ik mijn geld terug nadat ik mijn matras heb geretourneerd?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij doen ons best om dit zo snel mogelijk af te handelen. Je kunt er vanuit gaan dat het geld binnen
                          7 werkdagen nadat het matras is opgehaald weer op je rekening staat.

              %li
                .head-title-v4 Hoe werkt jullie 100 dagen niet-goed-geld-teruggarantie?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Onze matrassen zijn bedoeld voor jou! Elke persoon is anders en een matras moet gemaakt zijn voor
                          deze persoon. Het is belangrijk dat je goed slaapt en daar hechten wij veel waarde aan. Onze
                          matrassen zijn met uiterste zorg samengesteld en wij zijn er dan ook zeker van dat jij heerlijk erop
                          kunt slapen. Je krijgt van ons maar liefst 100 dagen om dit zelf uit te testen. Elk persoon heeft
                          ongeveer 3-4 weken nodig om te wennen aan een nieuw matras. Mocht je na deze 100 dagen om
                          wat voor reden dan ook je matras willen retourneren, dan komen wij het matras kosteloos weer
                          ophalen en krijg jij het volledige aankoopbedrag terug. De 100 dagen gaan in op de dag dat je je
                          matras in ontvangst hebt genomen.

              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Bezorging / Levering
                .head-title-v4 Wanneer kan ik mijn Tenzen matras verwachten?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Het matras dat je krijgt zal speciaal voor jou, aan de hand van jouw keuzes samengesteld worden. Op
                          het moment dat wij je bestelling binnen hebben zullen wij het direct doorgeven aan de fabrikant.
                          Binnen 4-5 weken wordt je matras gefabriceerd en verstuurd naar Nederland. Onze bezorgpartner
                          zal in de week daarna contact opnemen om een afspraak te maken voor de bezorging.
                        %p
                          Wij krijgen het matras dus binnen 5 weken binnen. Wanneer je het matras uiteindelijk thuis hebt
                          hangt af van je eigen beschikbaarheid en je bezorgafspraak.

              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Product
                .head-title-v4 Wat krijg ik allemaal bij mijn bestelling?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij zorgen dat je maximaal comfort krijgt. Je bestelling bestaat uit een matras in de gekozen formaat
                          en een topdekmatras in dezelfde maat.

              %li
                .head-title-v4 Wat is het verschil tussen de categorieën ‘budget’, ‘comfort’ en ‘premium’?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Om zoveel mogelijk mensen een goede nachtrust te kunnen bieden hebben wij gekozen voor drie
                          comfortcategorieën. Als je het allerbeste comfort wil kun je het beste altijd ‘premium’ kiezen. Als je
                          ook op je budget moet letten dan kun je ook voor een van de alternatieven kiezen. Deze zijn ook
                          speciaal voor jouw situatie samengesteld, maar bieden op bepaalde vlakken minder comfort zodat
                          de productie goedkoper is en het matras voordeliger aangeboden kan worden.
                        %p
                          Een schematische overzicht van de verschillen kun je hieronder vinden:
                        %table.table.table-bordered
                          %thead
                            %tr
                              %th
                                Budget
                              %th
                                Comfort
                              %th
                                Premium
                          %tbody
                            %tr
                              %td
                                2 jaar garantie
                              %td
                                5 jaar garantie
                              %td
                                10 jaar garantie
                            %tr
                              %td
                                Redelijke kwaliteit materialen
                                (bijv. HR40 schuim)
                              %td
                                Goede kwaliteit materialen
                                (bijv. HR50 schuim)
                              %td
                                Beste kwaliteit materialen
                                (bijv. HR65 schuim)
                            %tr
                              %td
                                Totale hoogte ca. 30cm
                              %td
                                Totale hoogte ca. 36cm
                              %td
                                Totale hoogte ca. 41cm
                            %tr
                              %td
                                LGA-gecertificeerd
                                (schadestofvrij)
                              %td
                                LGA-gecertificeerd
                                (schadestofvrij)
                              %td
                                LGA-gecertificeerd
                                (schadestofvrij)
                            %tr
                              %td
                                4cm topdekmatras
                              %td
                                6cm topdekmatras
                              %td
                                6cm topdekmatras
                            %tr
                              %td
                                Aloë tijk
                              %td
                                Tencel tijk
                              %td
                                Tencel tijk
                            %tr
                              %td
                              %td
                              %td
                                Ventilerende band
                            %tr
                              %td
                              %td
                              %td
                                Emissieneutraal

              %li
                .head-title-v4 Wij hebben twee matrassen en willen er 1 vervangen, kan ik dit bij jullie doen?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Ja, maar je kunt beter beide matrassen vervangen. Omdat onze matrassen specifiek voor één
                          persoon worden samengesteld kunnen wij geen rekening houden met het matras dat je op dit
                          moment al in huis hebt. Als je kiest voor een ‘tweepersoonsmatras’, dan kan je kiezen of je 1
                          tweepersoonsmatras wilt of 2 eenpersoonsmatrassen. Hier moet je kiezen voor 2
                          eenpersoonsmatrassen. Zo ben je zeker dat beide matrassen dezelfde hoogte hebben.

              %li
                .head-title-v4 Gaan het matras en de topdekmatras altijd samen?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Ja, wij doen er alles aan om het comfort van de slapers te verhogen. Om het allerbeste comfort te
                          bieden moeten wij deze twee onderdelen combineren. Het is niet mogelijk om de matras en
                          topdekmatras apart te bestellen. Het is altijd een combinatie en de prijzen die je ziet hebben ook
                          betrekking op beide onderdelen.
