%section#main.container
  #survey_container_result
    #middle-wizard-result
      .wrapper-v4
        .v4-bordered
          .specs-boxs
            .box-title.title-v4.text-center#advies
              Veelgestelde vragen
            %ul
              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Product
                .head-title-v4 Wat krijg ik bij mijn bestelling?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij zorgen dat je maximaal comfort krijgt. e bestelling bestaat uit een matras in het gekozen formaat en een gestoffeerde matrashoes (antraciet) in dezelfde maat.
              %li
                .head-title-v4 Wij hebben twee matrassen en willen er één vervangen, kan dit bij jullie?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Ja, maar wij raden het niet aan. Je kunt beter beide matrassen vervangen. Omdat onze matrassen specifiek voor één persoon worden samengesteld, kunnen wij geen rekening houden met het matras dat je op dit moment al in huis hebt. Hierdoor kan je nieuwe matras een andere hoogte hebben dan het matras dat je al thuis hebt liggen.
                        %p
                          Als je kiest voor een tweepersoonsmatras, dan kun je aangeven of je één tweepersoonsmatras wilt of twee eenpersoonsmatrassen. Hier moet je kiezen voor twee eenpersoonsmatrassen. Zo ben je er zeker van dat beide matrassen dezelfde hoogte hebben.
              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Levering en uitvoering
                .head-title-v4 Ik heb besteld, hoe gaat het nu verder?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          %ul
                            %li{style: 'margin-left: 15px;'}
                              %strong 1.
                              Zodra je een bestelling hebt geplaatst, krijg je een bevestiging per e e-mail met een overzicht van je bestelling.
                            %li{style: 'margin-left: 15px;'}
                              %strong 2.
                              Onze medewerkers zullen controleren of alles klopt.
                            %li{style: 'margin-left: 15px;'}
                              %strong 3.
                              Wij laten je matras maken.
                            %li{style: 'margin-left: 15px;'}
                              %strong 4.
                              Binnen 2 a 3 weken krijgen wij het matras binnen en laten we het direct bij je bezorgen.
              %li
                .head-title-v4 Wanneer kan ik mijn Tenzen-matras verwachten?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Het matras dat je krijgt, zal speciaal voor jou aan de hand van jouw keuzes samengesteld worden. De levertijd is ongeveer 2 a 3 weken. In een heel uitzonderlijk geval kan de bezorging iets langer duren. Wij zullen dit altijd ruim op tijd aan je laten weten.
              %li
                .head-title-v4 Hoe wordt mijn matras bezorgd?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Je matras wordt opgerold in een doos bezorgd. Wanneer je het matras uitrolt zal het weer een rechte vorm aannemen.
              %li
                .head-title-v4 Hebben jullie producten op voorraad?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Een Tenzen-matras is maatwerk. Een Tenzen-matras voor de ene persoon is daarom altijd anders dan voor de andere. Wij houden dan ook geen voorraad aan. Elk Tenzen-matras komt gloednieuw uit de fabriek. Ook geretourneerde matrassen worden niet op voorraad gehouden.
              %li
                .head-title-v4 Zijn de prijzen inclusief btw?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Ja, alle genoemde prijzen zijn inclusief btw.
              %li
                .head-title-v4 Wat zijn de bezorgkosten?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij bezorgen je matras gratis in heel Nederland. Ook het terugsturen van je matras is kosteloos.

              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Veiligheid
                .head-title-v4 Zijn de gebruikte materialen in mijn matras veilig?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Al onze matrassen voldoen aan strenge kwaliteitseisen. Ze zijn voorzien van het LGA-certificaat. LGA is een kwaliteitskeurmerk dat aangeeft dat een matras uit veilige componenten bestaat. Een LGA-matras wordt getest op duurzaamheid, milieu- en veiligheidsprestatie. Een LGA-matras bevat geen schadelijke chemicaliën en is dus beter voor je gezondheid.

              %li
                .head-title-v4 Hoeveel jaar garantie heb ik?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Tenzen-matrassen worden gemaakt met de beste materialen. Je hebt dan ook altijd vijf (5) jaar garantie op je aankoop. Hierbij heb je twee jaar volledige garantie en drie jaar afbouwende garantie.

              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Retourneren
                .head-title-v4 Wat zijn de retourvoorwaarden?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij vinden het belangrijk dat je heerlijk slaapt op je matras. Mocht dit onverhoopt toch niet zo zijn, dan kun je binnen honderd dagen na ontvangst van je matras een retourmelding maken. Dit kun je via de e-mail doen. Wij zorgen dan dat onze bezorgpartner contact met je opneemt om je matras weer op te halen. Nadat wij je matras terug hebben ontvangen, verwerken wij je retour binnen veertien dagen. Na de verwerking krijg je het volledige aankoopbedrag binnen tien werkdagen op je rekening. Lees hier meer over onze
                          = link_to 'retourprocedure.', retourneren_url

              %li
                .head-title-v4 Wat doen jullie met teruggestuurde matrassen?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij doen ons uiterste best om matrassen die niet gebruikt zijn, of heel kort gebruikt zijn en niet vies zijn, te doneren aan goede doelen. Wanneer wij dit niet kunnen doen vanwege de staat van een geretourneerd matras, dan vragen we onze partner om ze te recyclen of op een verantwoorde manier te vernietigen. Wij verkopen nooit tweedehands matrassen.

              %li
                .head-title-v4 Wanneer krijg ik mijn geld terug nadat ik mijn matras hebt geretourneerd?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Nadat wij je matras hebben ontvangen verwerken wij je retour binnen veertien dagen. Na de verwerking krijg je het volledige aankoopbedrag binnen tien werkdagen op je rekening.

              %li
                .head-title-v4 Hoe werkt jullie honderd-dagen-niet-goed-geld-teruggarantie?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Onze matrassen worden met uiterste zorg samengesteld en wij zijn er dan ook zeker van dat jij er heerlijk op zult slapen. Je krijgt van ons maar liefst honderd dagen om dit zelf uit te testen. Elke persoon heeft ongeveer drie tot vier weken nodig om te wennen aan een nieuwe matras. Mocht je na deze honderd dagen om wat voor reden dan ook je matras willen retourneren, dan komen wij het matras kosteloos ophalen en krijg jij het volledige aankoopbedrag terug. De honderd dagen gaan in op de dag dat je je matras in ontvangst hebt genomen.
              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Over Tenzen
                .head-title-v4 Hoe weet Tenzen wat bij mij past?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Wij hebben een vragenlijst samengesteld waarmee we precies weten wat voor materialen bij jouw lichaam en slaaphouding past. Op basis van jouw antwoorden bepalen meerdere algoritmes uit welke materialen jouw matras moet bestaan. Elke Tenzen-matras is dus uniek. Iedereen krijgt een andere combinatie van materialen, die perfect bij hem of haar past.

              %li
                .head-title-v4 Hebben jullie een showroom?
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %p
                          Aan een matras moet je wennen. Dit kun je niet zomaar in een showroom doen. Je kunt alleen te weten komen of een matras bij je past door er minimaal drie weken op te slapen. Jouw slaapkamer is dus de showroom! Je kunt honderd dagen proefslapen op je matras. En mocht het nu zo zijn dat het geen match is, dan komen wij het matras kosteloos weer ophalen en krijg je het volledige aankoopbedrag terug.
              %li
                .head-title-v4.text-center{style: 'font-size: 22px; text-decoration: underline'} Betalen
                .head-title-v4
                  %a#betaalmethoden{style: 'text-decoration: none !important; color: black !important;'}
                    Betaalmethoden
                .li-holder
                  .li-content
                    .text-content
                      .text-v4
                        %h4 iDeal
                        %p
                          De meestgebruikte betalingsmethode in Nederland is iDeal. Je kunt kiezen om je bestelling via iDeal af te rekenen. Je kunt dan je bestelling afronden binnen de beveiligde omgeving van je eigen bank. Je kunt je Tenzen-matras dus eenvoudig en snel betalen via je eigen vertrouwde bank.
                        %h4 50% iDeal / 50% Pin-aan-huis
                        %p
                          Als je kiest voor een 50/50-betaling, dan kun je de helft van het totaalbedrag via iDeal betalen en de andere helft aan deur pinnen. Houd hierbij rekening met de week- en maandlimieten van je bank. Zij kunnen namelijk een pintransactie blokkeren als je boven je bestedingslimiet zit.