.col-md-7.col-sm-12.mt-63
  %h1.has-line Hoeveel personen slapen er op?
  .download
    %a.download-btn{href: new_double_mattress_one_url}
      1 Persoon
    %a.download-btn{href: new_double_mattress_two_url}
      2 Personen
.col-md-5.hidden-sm.hidden-xs.mt-63
  .center-block= image_tag("tenzen.png", alt: 'Tenzen Matras Samenstellen')